li,
a {
  color: white;
  text-shadow: 500;
}

.tales {
  margin-left: 4rem;
  margin-top: 20px;
  width: 92%;
  height: 65vh;
  object-fit: cover;
}

.img-fluid {
  width: 100%;
  height: 200%;
  border-radius: 5px;
}

.profile a {
  color: black;
  text-decoration: none;
}

.imgs-fluid {
  width: 100%;
  height: 53%;
  border-radius: 5px;
}

.js {
  width: 100%;
  height: 53%;
  border-radius: 5px;
}

/* .navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(92, 201, 238, 1) 0%,
    rgba(1, 198, 239, 0.5886729691876751) 65%,
    rgba(2, 171, 228, 1) 95%,
    rgba(0, 212, 255, 1) 100%
  );
} */

.brand{
object-fit: cover;
}

.text{
  font-weight: 500;
}

